name: Verify

on:
  workflow_dispatch:
    inputs:
      source:
        type: string
        description: Which repo triggered this workflow run
        required: true

  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ 'lts/*' ]
        os: [ ubuntu-latest ]
    env:
      HUSKY: 0 # disables husky hooks
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Cypress run triggered by ${{ github.event.inputs.source || github.event_name }}
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          headless: true
          install-command: yarn --frozen-lockfile --silent
          start: yarn start
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
